<div>
    <form name="angularForm" #angularForm="ngForm">

        <app-html-viewer *ngIf="showFormHtml" [html]="html" (showHtml)="showFormHtml = $event"></app-html-viewer>

        <div style="margin: 8px 0; padding: 4px; background-color: #ddd;">
            <button>Cancel</button>
            <button [disabled]="angularForm.form.invalid">Save</button>
            <button [disabled]="angularForm.form.invalid">Save and Close</button>
            <button [disabled]="angularForm.form.invalid" (click)="showCodeDialog(angularForm.form.valid)">Get Code</button>
        </div>

        <table style="width: 100%; margin-top:14px;">
            <tr>
                <!-- Field buttons -->
                <td style="width: 15%; vertical-align: top; border-right: 1px solid #cfcfcf;">
                    <ul style="margin: 0; padding: 0; list-style: none;">
                        <li *ngFor="let fieldType of standardFieldTypes">
                            <button (click)="addField(fieldType.Name)" [disabled]="isFieldUsed(fieldType) || angularForm.form.invalid">{{
                                fieldType.DisplayName }}</button>
                        </li>
                    </ul>
                    <br><br>
                    <ul style="margin: 0; padding: 0; list-style: none;">
                        <li *ngFor="let fieldType of customFieldTypes">
                            <button (click)="addField(fieldType.Name)" [disabled]="angularForm.form.invalid">{{
                                fieldType.DisplayName }}</button>
                        </li>
                    </ul>
                </td>
                <!-- Viewers -->
                <td style="width: 40%; vertical-align: top;">
                    <div *ngIf="angularForm.form.invalid && form.Fields.length === 0">Instructional text</div>
                    <div  *ngIf="angularForm.form.valid || form.Fields.length > 0">
                        <div *ngFor="let field of form.Fields">
                            <div [ngSwitch]="field.FieldType" [class.duplicate]="field.Duplicate" [class.selected]="field == currentField">
                                <app-textbox-viewer *ngSwitchCase="'EmailAddress'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>
                                <app-textbox-viewer *ngSwitchCase="'FirstName'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>
                                <app-textbox-viewer *ngSwitchCase="'LastName'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>
                                <app-textbox-viewer *ngSwitchCase="'StreetAddress'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>
                                <app-textbox-viewer *ngSwitchCase="'City'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>
                                <app-textbox-viewer *ngSwitchCase="'PostalCode'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>
                                <app-textbox-viewer *ngSwitchCase="'Phone'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>
                                <app-textbox-viewer *ngSwitchCase="'TextBox'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textbox-viewer>

                                <app-textarea-viewer *ngSwitchCase="'Comments'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textarea-viewer>
                                <app-textarea-viewer *ngSwitchCase="'TextArea'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-textarea-viewer>

                                <app-radio-viewer *ngSwitchCase="'RadioButtonList'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-radio-viewer>

                                <app-drop-down-viewer *ngSwitchCase="'State'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-drop-down-viewer>
                                <app-drop-down-viewer *ngSwitchCase="'DropDownList'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-drop-down-viewer>

                                <app-single-check-box-viewer *ngSwitchCase="'EmailOptIn'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-single-check-box-viewer>
                                <app-single-check-box-viewer *ngSwitchCase="'SingleCheckBox'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-single-check-box-viewer>

                                <app-checkbox-viewer *ngSwitchCase="'CheckBoxList'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-checkbox-viewer>

                                <app-file-upload-viewer *ngSwitchCase="'FileUpload'" [field]="field" (click)="setCurrentField(field, angularForm.form.valid)"></app-file-upload-viewer>
                            </div>
                        </div>
                    </div>
                </td>
                <!-- Editor -->
                <td style="width: 45%; vertical-align: top; background-color:#dfdfdf;">
                    <!-- Form Settings Editor-->
                    <div *ngIf="isFormSettingsEdittingActive()">
                        <h1>Edit Form Settings</h1>
                        <section>

                            <div>
                                <label>Form Id</label>
                                <input type="text" name="formId" [(ngModel)]="form.id" [disabled]="true" />
                            </div>

                            <div>
                                <label>Form Name</label>
                                <input type="text" name="formName" [(ngModel)]="form.Name" required />
                            </div>

                            <div>
                                <label>Action Code</label>
                                <input type="text" name="actionCode" [(ngModel)]="form.ActionCode" required />
                            </div>


                            <div>
                                <div>
                                    <label>Form Class</label>
                                    <input type="text" name="formCssClass" [(ngModel)]="form.CssClass" />
                                </div>

                                <div style="overflow: hidden;">
                                    <div style="width: 155px; margin: 0 10px 0 0; float:left;">
                                        <label>Goal</label>
                                        <input name="formEntryGoal" type="number" min="0" [(ngModel)]="form.FormEntryGoal" />
                                    </div>
                                    <div style="width: 155px; float:left;">
                                        <label>Count Offset</label>
                                        <input name="formEntryCountOffset" type="number" [(ngModel)]="form.FormEntryCountOffset" />
                                    </div>
                                </div>

                                <div>
                                    <label style="display: inline;">
                                        <input type="checkbox" name="publishFormEntries" [(ngModel)]="form.PublishFormEntries"
                                            value="true" />
                                        Publish Form Entries
                                    </label>
                                </div>

                                <div>
                                    <label>Submit Button Text</label>
                                    <input type="text" name="submitButtonText" [(ngModel)]="form.SubmitButtonText"
                                        required />
                                </div>

                                <!-- ToDo: Fix value binding -->

                                <div style="overflow: hidden;">
                                    <div>Action on Submit</div>
                                    <label>
                                        <input type="radio" name="successActionRedirect" [(ngModel)]="form.SuccessAction"
                                            value="redirect" />
                                        Redirect
                                    </label>
                                    <label>
                                        <input type="radio" name="successActionMessage" [(ngModel)]="form.SuccessAction"
                                            value="showContent" />
                                        Show Message
                                    </label>
                                </div>

                                <div *ngIf="form.SuccessAction === 'redirect'">
                                    <label>Success URL</label>
                                    <input type="url" name="successActionUrl" [(ngModel)]="form.SuccessUrl" />
                                </div>

                                <div *ngIf="form.SuccessAction === 'showContent'">
                                    <label>Success Content</label>
                                    <textarea name="successContent" [(ngModel)]="form.SuccessContent" rows="4"></textarea>
                                </div>

                                <div style="overflow: hidden;" *ngIf="form.SuccessAction === 'showContent'">
                                    <div>Success Content Format</div>
                                    <label>
                                        <input type="radio" name="successContentText" [(ngModel)]="form.SuccessContentFormat"
                                            value="text" />
                                        Text
                                    </label>
                                    <label>
                                        <input type="radio" name="successContentHtml" [(ngModel)]="form.SuccessContentFormat"
                                            value="html" />
                                        HTML
                                    </label>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!-- Field Editor -->
                    <div *ngIf="!isFormSettingsEdittingActive()">
                        <button (click)="editingFormSettings = true" [disabled]="angularForm.form.invalid">Edit Form
                            Settings</button>
                        <h1>Edit Field</h1>
                        <!-- ngFor to force reinitialization of editor on switch of current field -->
                        <div *ngFor="let x of [currentField]">
                            <div [ngSwitch]="currentField.FieldType">
                                <app-standard-field-editor *ngSwitchCase="'EmailAddress'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-editor *ngSwitchCase="'FirstName'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-editor *ngSwitchCase="'LastName'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-editor *ngSwitchCase="'StreetAddress'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-editor *ngSwitchCase="'City'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-editor *ngSwitchCase="'State'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-editor *ngSwitchCase="'PostalCode'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-editor *ngSwitchCase="'Phone'" [field]="currentField"></app-standard-field-editor>
                                <app-standard-field-label-editor *ngSwitchCase="'EmailOptIn'" [field]="currentField"></app-standard-field-label-editor>
                                <app-standard-field-textarea-editor *ngSwitchCase="'Comments'" [field]="currentField"></app-standard-field-textarea-editor>

                                <app-textbox-editor *ngSwitchCase="'TextBox'" [field]="currentField"></app-textbox-editor>
                                <app-textarea-editor *ngSwitchCase="'TextArea'" [field]="currentField"></app-textarea-editor>
                                <app-single-select-editor *ngSwitchCase="'RadioButtonList'" [field]="currentField"></app-single-select-editor>
                                <app-single-select-editor *ngSwitchCase="'DropDownList'" [field]="currentField"></app-single-select-editor>
                                <app-single-check-box-editor *ngSwitchCase="'SingleCheckBox'" [field]="currentField"></app-single-check-box-editor>
                                <app-multi-select-editor *ngSwitchCase="'CheckBoxList'" [field]="currentField"></app-multi-select-editor>
                                <app-textbox-editor *ngSwitchCase="'FileUpload'" [field]="currentField"></app-textbox-editor>
                            </div>
                            <button (click)="removeField()">Remove Field</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<pre style="border: 1px solid #ddd; padding: 8px;">{{ form | json }}</pre>
